*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

/* CSS FOR HEADER */

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 114, 221);
}
header>.time-counter{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    border-radius: .5em;
}
header>.time-counter>p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
header>.time-counter>p>span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header>.test-title{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>.test-title>p{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}